*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --link-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  /* outline: solid red; */
}
.body {
  font-family: "Roboto";
}
/* Header */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #000;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
}
.header__logo__color {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header__nav {
  width: 100%;
  margin-left: 93px;
}
.header__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__item {
}
.header__link {
  color: #212121;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  display: block;
}
.header__link:hover, .header__link:focus  {
  color: #2196f3;
}
.header__contact {
}
.header__contact__list {
  list-style-type: none;
  display: flex;
  align-items: center;

  margin-left: auto;
}
.header__contact__item {
}
.header__contact__link {
  text-decoration: none;
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-right: 50px;
}
.header__contact__link:hover, .header__contact__link:focus {
  color: #2196f3;
}
.header__contact__link__tell {
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
  text-wrap: nowrap;
}
.header__contact__link__tell:hover, .header__contact__link__tell:focus {
  color: #2196f3;
}
/* Hero */
.hero {
  flex-shrink: 0;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4)),
    url("../img/studio/background.webp");
  background-size: 100% 600px;
}
.hero__title {
  font-family: "Roboto";
  color: #ffff;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 136.364%;
  letter-spacing: 2.64px;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.hero__button {
  border-radius: 4px;
  background: #2196f3;
  width: 216px;
  height: 50px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}
/* Features */
.features {
  padding-top: 94px;
}
.features__container {
}
.features__list {
  display: flex;
  gap: 30px;
  flex-direction: row;
  list-style-type: none;
}

.features__item {
}
.features__title {
  color: var(--title-color);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features__item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-bottom: 30px;
}
.features__item:nth-child(1)::before {
  background-image: url("../img/studio/antenna.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.features__item:nth-child(2)::before {
  background-image: url("../img/studio/clock.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.features__item:nth-child(3)::before {
  background-image: url("../img/studio/diagram.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.features__item:nth-child(4):before {
  background-image: url("../img/studio/astronaut.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.features__text {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
/* Work */
.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work__title {
  color: var(--title-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.work_container {
}
.work__list {
  list-style-type: none;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;

  display: flex;
  flex-direction: row;
  gap: 30px;
}
.work__item {
}
.work__img {
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
/* Team */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #F5F4FA;
}
.team__title {
  color: var(--title-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team__container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
.team__list {
  list-style-type: none;
}
.team__item {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__img {
  /* background: url(<path-to-image>) lightgray -40.687px -0.224px / 175.271%
    121.356% no-repeat; */
  margin-bottom: 30px;
}

.team__list__title {
  color: var(--title-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.team__text {
  color: var(--text-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  padding-bottom: 30px;
}
/* Footer */
.footer {
  background: #2f303a;
  height: 252px;
  flex-shrink: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  justify-items: flex-start;
}
.footer__info {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  color: #fff;
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
  margin-bottom: 20px;
}
.footer__logo__colored {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer__adress {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  text-decoration: none;
  margin-bottom: 9px;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  text-decoration: none;
  margin-bottom: 9px;
}

/* Portfolio */

/* Options */
.options {
  padding-top: 94px;
}
.options__list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.options__item {
}
.options__button {
  color: var(--title-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  padding: 6px 22px;
}
.options__button:focus,
.options__button:hover {
  color: #fff;
  background: #2196f3;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
/* Advertisement */
.advertisement {
  padding-bottom: 94px;
}
.advertisement__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  gap: 30px;
  padding-top: 50px;
}
.advertisement__item {
  border: 1px solid #eee;
  max-width: 370px;
  flex-basis: calc((100 - (30px * 2)) / 3);
}
.advertisement__item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.advertisement__img {
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.advertisement__title {
  color: var(--title-color);
  font-family: "Roboto";
  font-size: 18px;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
  text-decoration: none;
  margin-top: 15px;
  padding-left: 24px;
}
.advertisement__text {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
  margin-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
}
