:root {
    --link-color: #2196F3;
    --title-color: #212121;
    --text-color: #757575;
}
.header {
}
.header__link  {
  color: #000;
}
.header__logo__color {
  color: var(--link-color)
}
.header__container {
}
.header__nav {
}
.header__nav__list {
}
.header__nav__item {
}
.header__nav__link {
  color: #212121;
}
.header__contact__list {
}
.header__contact__item {
}
.header__contact__link {
color: #757575;
}
.header__contact__link__tell {
  color: #757575;
}
.hero {
  background: #2F303A;
  width: 1600px;
height: 600px;
flex-shrink: 0;
}
.hero__title {
  color: #FFF;

}
.hero__button {
  color: #FFF;
  border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.features {
}
.features__container {
}
.features__list {
}
.features__item {
}
.features__title {
  color: var(--title-color)
}
.features__text {
  color: var(--text-color)
}
.work {
}
.work__title {
  color: var(--title-color)
}
.work_container {
}
.work__list {
}
.work__item {
}
.work__img {
}
.team {
}
.team__title {
  color: var(--title-color)
}
.team__container {
}
.team__list {
}
.team__item {
}
.team__img {
}
.team__list__title {
  color: var(--title-color)
}
.team__text {
  color: var(--text-color)
}
.footer {
  background: #2F303A;
  width: 1600px;
height: 252px;
flex-shrink: 0;
}
.footer__container {
}
.footer__logo {
color: #FFF;
}
.footer__logo__colored {
 color: var(--link-color)
}
.footer__adress {
  color: #FFF;
}
.footer__link {
  color: rgba(255, 255, 255, 0.60);
}