.features {
    padding-top: 94px;
}

.features__container {}

.features__list {
    display: flex;
    gap: 30px;
    flex-direction: row;
    list-style-type: none;
}

.features__item {}

.features__title {
    color: var(--title-color);
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features__item::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: #f5f4fa;
    margin-bottom: 30px;
}

.features__item:nth-child(1)::before {
    background-image: url("../img/studio/antenna.webp");
    background-repeat: no-repeat;
    background-position: center;
}

.features__item:nth-child(2)::before {
    background-image: url("../img/studio/clock.webp");
    background-repeat: no-repeat;
    background-position: center;
}

.features__item:nth-child(3)::before {
    background-image: url("../img/studio/diagram.webp");
    background-repeat: no-repeat;
    background-position: center;
}

.features__item:nth-child(4):before {
    background-image: url("../img/studio/astronaut.webp");
    background-repeat: no-repeat;
    background-position: center;
}

.features__text {
    color: var(--text-color);
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
}