.footer {
  background: #2f303a;
  // height: 252px;
  flex-shrink: 0;
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    @include flex-position($horizontally: space-between, $direction: column);
    justify-items: flex-start;
  }

  &__info {
    @include flex-position(
      $direction: column,
      $vertically: none,
      $horizontally: none
    );
    /* margin-right: 70px; */
    margin-bottom: 60px;
    text-align: center;
  }

  &__logo {
    color: #fff;
    @include logo($size: 24px);
    line-height: normal;
    text-decoration: none;
    margin-bottom: 20px;
  }

  &__logo__colored {
    @include logo($size: 24px);
    color: $link-color;
    font-style: normal;
    line-height: normal;
  }

  &__adress {
    @include text($color: #fff, $size: 14px, $height: 24px, $spacing: 0.42px);
    text-decoration: none;
    margin-bottom: 9px;
  }

  &__link {
    @include text(
      $color: rgba(255, 255, 255, 0.6),
      $size: 14px,
      $height: 24px,
      $spacing: 0.42px
    );
    text-decoration: none;
    margin-bottom: 9px;
  }

  &__box {
    margin-bottom: 60px;
  }

  &__subtitle {
    @include title(
      $color: #fff,
      $size: 14px,
      $height: normal,
      $spacing: 0.42px,
      $weight: 700
    );
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
  }

  &__list__icons {
    @include flex-position($gap: 10px, $vertically: none, $horizontally: none);
  }

  &__item__icons:hover,
  &__item__icons:focus {
    background-color: #2196f3;
  }

  &__item__icons {
    @include flex-position();
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    animation-name: footer__pulse;
    animation-iteration-count: infinite;
    animation-duration: 3s;
  }

  &__link__icons {
    width: 20px;
    height: 20px;
    fill: white;
  }

  &__field {
    display: flex;
    flex-direction: column;
  }

  &__form {
    @include flex-position($gap: 12px, $direction: column);
  }

  &__label {
    @include flex-position($horizontally: none);
    width: 290px;
    max-width: 450px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  }

  &__input {
    @include text(
      $color: rgba(255, 255, 255, 0.6),
      $size: 16px,
      $height: 30px,
      $spacing: 0.96px
    );
    margin-left: 16px;
    border: none;
    outline: none;
    background: transparent;
  }

  &__btn {
    @include flex-position($gap: 10px);
    @extend %button;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 50px;
    margin-top: 20px;
  }

  &__btn__icon {
    width: 24px;
    height: 24px;
    fill: #fff;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__container {
      @include flex-position($horizontally: space-around);
      flex-wrap: wrap;
    }
      &__label {
      width: 450px;
    }
    &__box {
      margin-bottom: 102px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    &__container {
      @include flex-position($horizontally: space-between, $vertically: flex-start);
      justify-items: flex-start;
    }
    &__info {
      text-align: start;
      margin-bottom: 0;
    }
    &__box {
      margin-bottom: 0;
    }
    &__subtitle {
      text-align: start;
    }
    &__form {
      @include flex-position($gap: 12px, $direction: row);
    }
    &__input {
      @include text(
        $color: rgba(255, 255, 255, 0.6),
        $size: 16px,
        $height: 20px,
        $spacing: 0.48px
      );
    }
    &__label {
      width: 358px;
    }
    &__btn {
      margin-top: 0;
    }
  }
}
