.hero {
  flex-shrink: 0;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4)),
    url("../img/studio/background.webp");
  background-size: 100% 600px;

  &__title {
    @include title(
      $color: #fff,
      $size: 44px,
      $height: 136.364%,
      $spacing: 2.64px,
      $weight: 900
    );
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__button {
    @extend %button;
    width: 216px;
    height: 50px;
    cursor: pointer;
  }
}
