.hero {
  flex-shrink: 0;
  text-align: center;
  padding-top: 178px;
  padding-bottom: 118px;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4)),
    url("../../img/studio/desktop/hero/background.webp");
  background-size: 100% 100%;

  &__title {
    @include title(
      $color: #fff,
      $size: 26px,
      $height: 42px,
      $spacing: 1.56px,
      $weight: 900
    );
    text-transform: uppercase;
    text-align: center;
    width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__button {
    @extend %button;
    width: 200px;
    height: 50px;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;

    &__title {
      @include title(
        $color: #fff,
        $size: 26px,
        $height: 42px,
        $spacing: 1.56px,
        $weight: 900
      );
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 280px;
    padding-bottom: 200px;

    &__title {
      @include title(
        $color: #fff,
        $size: 44px,
        $height: 136.364%,
        $spacing: 2.64px,
        $weight: 900
      );
      width: 696px;
    }
    &__button {
      width: 216px;
    }
  }
}
