.modal {

  &__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  @include flex-position($direction: none);
  z-index: 10;
  transition-property: opacity;
  transition-duration: 2500ms;
}

 .is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal__wrapper {
  transform: scale(0.5);
}

&__wrapper {
min-width: 290px;
  max-width: 450px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 14px 40px 40px 40px;
  z-index: 1;
  transform: scale(1);
  transition-property: transform, opacity;
  transition-duration: 2500ms;
}

&__button__close {
  // margin-left: 370px;
margin-left: auto;
  border: solid rgba(0, 0, 0, 0.1) 1px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  @include flex-position($direction: none);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__button__close:hover {
  fill: #2196f3;
}

&__svg {
  width: 18px;
  height: 18px;
  /* outline: solid red; */
}

&__subtitle {
  @include title($size: 20px, $spacing: 0.6px, $weight: 700);
  text-align: center;
  margin-bottom: 12px;
}

&__form {
  @include flex-position(
    $direction: column,
    $horizontally: none,
    $vertically: none
  );
}

&__label {
  @include title($color: $text-color, $size: 12px, $spacing: 0.12px);
}

&__box:hover {
  border-radius: 4px;
  border: 1px solid #2196f3;
  fill: #2196f3;
}

&__box {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  min-width: 255px;
  max-width: 370px;
  height: 40px;
  @include flex-position($horizontally: none);
  margin-top: 4px;
  margin-bottom: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__icon {
  width: 18px;
  height: 18px;
  margin-left: 12px;
  margin-right: 15px;
}

&__input {
  outline: none;
  border: none;
}

&__comment {
  @include text(
    $color: rgba(117, 117, 117, 0.5),
    $size: 12px,
    $spacing: 0.12px
  );
  border: none;
  outline: none;
    min-width: 255px;
  max-width: 370px;
  height: 120px;
  flex-shrink: 0;
  padding-left: 16px;
  padding-top: 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  margin-bottom: 10px;
  resize: none;
}

&__label-confirm {
  @include text(
    $color: rgba(117, 117, 117, 0.5),
    $size: 12px,
    $spacing: 0.12px
  );
  
}

&__checkbox {
  @include text($size: 12px, $spacing: 0.36px);
  border-radius: 4px;
  fill: #212121;
 
}

&__input__checkbox {
}

&__link {
  @include text(
    $color: $link-color,
    $size: 12px,
    $spacing: 0.36px
  );
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

&__button {
  @include text(
    $color: #fff,
    $size: 16px,
    $height: 30px,
    $spacing: 0.96px,
    $weight: 700
  );
  margin-top: 30px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
}

@media screen and (min-width: 1200px) {
  .modal {
    &__wrapper {
      width: 528px;
  max-width: 528px;
}
&__box {
   max-width: 448px;
}
&__button__close {
  margin-left: 450px;
}
&__comment {
  max-width: 448px;
}
&__label-confirm {
text-align: center;
}
&__checkbox {
 margin-left: 7px;
  @include text($size: 14px, $height: 24px, $spacing: 0.42px);
}
&__link {
   @include text(
    $color: $link-color,
    $size: 14px,
    $height: 24px,
    $spacing: 0.42px
  );
}
&__button {
    
}
  }
}


