.options {
    padding-top: 94px;

    &__list {
        @include flex-position($gap: 8px, $vertically:none);
        }
    
        &__item {}
    
        &__button {
             @include text($color: #212121, $size: 16px, $height: 26px, $spacing: 0.48px, $weight: 500);
            text-align: center;
            border-radius: 4px;
            padding: 6px 22px;
            transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    
        &__button:focus,
        &__button:hover {
            color: #fff;
            background: #2196f3;
            box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
                0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
        }
}

