@mixin flex-position($gap: 0, $vertically:center, $horizontally:center, $direction:row ) {
    display: flex;
        align-items: $vertically;
        gap: $gap;
        justify-content: $horizontally;
        flex-direction: $direction;
}
@mixin title($color: $title-color, $size: 0, $height: normal, $spacing: 0, $weight: 0) {
    color: $color;
     font-style: normal;
        font-family: "Roboto";
        font-size: $size;
        line-height: $height;
        letter-spacing: $spacing;
        font-weight: $weight;
}
@mixin text($color: $text-color, $size: 0, $height: normal, $spacing: 0, $weight: 400) {
    color: $color;
     font-style: normal;
        font-family: "Roboto";
        font-size: $size;
        line-height: $height;
        letter-spacing: $spacing;
        font-weight: $weight;
}
@mixin logo($size: 0, $spacing: 0.72px) {
    font-family: "Raleway";
        font-size: $size;
        font-weight: 700;
        letter-spacing: $spacing;
         font-style: normal;
    line-height: normal;
}