%title {
    color: $title-color;
        text-align: center;
        font-family: "Roboto";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.08px;
        margin-bottom: 50px;
}
%button {
        color: #fff;
            text-align: center;
            font-family: "Roboto";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            /* 187.5% */
            letter-spacing: 0.96px;
            border-radius: 4px;
            background: #2196f3;
}
%logo {
    font-family: "Raleway";
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 0.78px;
           
}